.main-page{
    width: 100vw;
    height: 100vh;
    background-color: #1e2747;
}
.search-contents{
    display: flex;
    padding-top: 10px;
    width: 95%;
    height: 90%;
    margin: 0 0 0 50px;
}
button {
    cursor: pointer;
}
/* SEARCH BAR */
input{
    width: 700px;
    min-width: 300px;
    height: 50px;
    border-radius: 30px 0 0 30px;
    margin-left: 300px;
    font-size: 15px;
}
.button-search{
    border-radius: 0 30px 30px 0;
    color: white;
    width: 100px;
    background-color: #000003;
}
.nav-input-searches{
    display: flex;
    justify-content: left;
    width: 95%;
    margin: 0 0 0 50px;
    padding-top: 20px;
}

/* SIDE HISTORY BAR */
.side-history-bar{
    background-color:#4d5794;
    width: 250px;
    position: absolute;
    height: 90%;
    margin-top: 18px;
    margin-left: 50px;
}
.search-history-title{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #000003;
}

.history-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    background-color: #f9c3ff36;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
    }
    &:hover{
        background-color: #cfcfcf; 
        transform: scale(1.01);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}